<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Kod Mesajı</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: #333;
        }
        h1 {
            color: #444;
        }
        p {
            text-align: justify;
        }
        .message {
            white-space: pre-wrap;  /* Metin boşluklarını korur */
        }
    </style>
</head>
<body>
    <p class="message">{{ message | safe }}</p>
</body>
</html>
